<a href="https://colab.research.google.com/github/Simeen01/Python-Solutions/blob/main/Dictionary_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. We have following information on countries and their population (population is in crores),


```
 |Country|Population|
    |-------|----------|
    |China|143|
    |India|136|
    |USA|32|
    |Pakistan|21|
```


   
    1. Using above create a dictionary of countries and its population
    2. Write a program that asks user for three type of inputs, 
        1. print: if user enter print then it should print all countries with their population in this format,
            ```
            china==>143
            india==>136
            usa==>32
            pakistan==>21
            ```
    1. add: if user input add then it should further ask for a country name to add. If country already exist in our dataset then it should print that it exist and do nothing. If it doesn't then it asks for population and add that new country/population in our dictionary and print it

     2. remove: when user inputs remove it should ask for a country to remove. If country exist in our dictionary then remove it and print new dictionary using format shown above in (a). Else print that country doesn't exist!

     3. query: on this again ask user for which country he or she wants to query. When user inputs that country it will print population of that country.

In [ ]:
#Q1.
dict1 = {"China":143, "India":136, "USA":32, "Pakistan":21}

#Q2.


x = input("Enter your input:")
x = x.lower() 

#if user enters the word print

if x == "print":
  for key,val in dict1.items():
    print(key,"==>",val)

# for i in dict1:
#   print(i,"==>",dict1[i])


#if user enters the word add
elif x == "add":
  country = input("Enter a country name to add: ")
  country = country.lower()
  
  if country in dict1.keys():
    print("The entered country exists.")
  else:
    population = input("Enter the population: ")
    dict1.update({country:population})
  print(dict1)

#if user enters the word remove
elif x == "remove":
  rem = input("Enter a country to remove:")
  rem = rem.lower()

  if rem in dict1.keys():
    dict1.pop(rem)
    for i in dict1:
      print("\n",i,"==>",dict1[i])
  else:
    print("Country doesn't exist!")

#if user enters the word query
elif x == "query":
  ask = input("Enter country you want to query about: ")
  ask = ask.lower()

  if ask in dict1:
    print("Popuation:",dict1[ask])
  else:
    print("Country not found in the database!")

else:
  print("Invalid input! Try again.")

Enter your input:query
Enter country you want to query about: China
Popuation: 143

1.Convert two lists into a dictionary | keys= ['Ten','Twenty','Thirty'],values=[10,20,30] expected o/p: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
keys= ['Ten','Twenty','Thirty']
values=[10,20,30]

d = dict(zip(keys,values))
print(d)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

2.Merge two Python dictionaries into one |dict1={'Ten': 10, 'Twenty': 20, 'Thirty': 30},dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}  
	expected o/p: {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
dict1={'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
output = {}

output = dict1.copy()
output.update(dict2)
print(output)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

3.Print the value of key ‘history’ from the below dict |dict1= {"class":{"student":{"name": "Mike","marks":{"physics": 70,"history": 80}}}} expected o/p: 80

In [ ]:
dict1= {"class":{
    "student":{
        "name": "Mike",
        "marks":{
            "physics": 70,
            "history": 80}}}}

print(dict1["class"]["student"]["marks"]["history"])

80

4.Initialize dictionary with default values | employees = ['Kelly', 'Emma'],defaults = {"designation": 'Developer', "salary": 8000} 
	expected o/p: {'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [ ]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
dict1 = {}

for i in range(len(employees)):
  dict1.update({employees[i]:defaults})
print(dict1)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

5.Create a dictionary by extracting the keys from a given dictionary | dict1={"name":"Kelly","age": 25,"salary": 8000,"city": "New york"}
	# following Keys to extract,  keys = ["name", "salary"]   expected o/p: {'name': 'Kelly', 'salary': 8000}

In [ ]:
dict1={"name":"Kelly","age": 25,"salary": 8000,"city": "New york"}
keys = ["name", "salary"] 
d = {}

for i in keys:
  if i in dict1:
    d.update({i:dict1[i]})

print(d)

{'name': 'Kelly', 'salary': 8000}

6.Delete a list of keys from a dictionary |dict1={"name":"Kelly","age": 25,"salary": 8000,"city": "New york"}
	# following Keys to remove,  keys = ["name", "salary"]  expected o/p:{'city': 'New york', 'age': 25}.

In [ ]:
dict1={"name":"Kelly","age": 25,"salary": 8000,"city": "New york"}
keys = ["name", "salary"]

for i in keys:
    dict1.pop(i)
print(dict1)

{'age': 25, 'city': 'New york'}

7.Check if a value exists in a dictionary |dict1 = {'a': 100, 'b': 200, 'c': 300} expected  o/p: 200 present in a dict

In [ ]:
dict1 = {'a': 100, 'b': 200, 'c': 300} 

if 200 in dict1.values():
  print("200 exists in a dict")
else:
  print("Does not exist")

200 exists in a dict

8.Rename key of a dictionary |sample_dict = {"name": "Kelly","age":25,"salary": 8000,"city": "New york"} 
	expected o/p:{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
sample_dict = {"name": "Kelly","age":25,"salary": 8000,"city": "New york"}

sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

9.Change value of a key in a nested dictionary |dict1= {'emp1': {'name': 'Jhon', 'salary': 7500},'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}}  expected o/p: {'emp1':{'name':'Jhon','salary':7500},'emp2':{'name':'Emma','salary':8000},'emp3':{'name':'Brad','salary': 8500}}

In [ ]:
dict1= {'emp1': {'name': 'Jhon', 'salary': 7500},
        'emp2': {'name': 'Emma', 'salary': 8000}, 
        'emp3': {'name': 'Brad', 'salary': 500}}

dict1["emp3"]["salary"] = 8500
print(dict1)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

10.Write a Python program to concatenate following dictionaries to create a new one|dic1={1:10, 2:20},dic2={3:30, 4:40},dic3={5:50,6:60}
	expected o/p: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60} 

d = dic1.copy()
d.update(dic2)
d.update(dic3)
print(d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

11.Add a key to a dictionary | d = {0:10, 1:20}  expected o/p: {0: 10, 1: 20, 2: 30}

In [ ]:
d = {0:10, 1:20}
d[2] = 30
d

{0: 10, 1: 20, 2: 30}

12.Print a dictionary where the keys are numbers between 1 and 15 and the values are square of keys. 
	expected o/p: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
squares = {i:i**2 for i in range(1,16)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

13.Write a Python program to iterate over dictionaries using for loops. |d = {'Red': 1, 'Green': 2, 'Blue': 3} 
	expected o/p: Red corresponds to 1      Green corresponds to  2    Blue corresponds to  3

In [ ]:
d = {'Red': 1, 'Green': 2, 'Blue': 3}

for i in d:
  print(i,"corresponds to",d[i])

Red corresponds to 1
Green corresponds to 2
Blue corresponds to 3

14.Write a Python program to sum all the items in a dictionary.|my_dict = {'data1':100,'data2':-54,'data3':247} expected o/p:293

In [ ]:
my_dict = {'data1':100,'data2':-54,'data3':247}
sum = 0

for i in my_dict.values():
  sum = sum + i
print(sum)

293

15.Write a Python program to multiply all the items in a dictionary. |my_dict = {'data1':100,'data2':54,'data3':247} expected o/p:1333800

In [ ]:
my_dict = {'data1':100,'data2':54,'data3':247}
mul = 1

for i in my_dict.values():
  mul = mul * i
print(mul)

1333800

16.Write a Python program to convert given a dictionary to a list of tuples.  |d = {'Red': 1, 'Green': 3, 'White': 5, 'Black': 2, 'Pink': 4}
	expected o/p: [('Red', 1), ('Green', 3), ('White', 5), ('Black', 2), ('Pink', 4)]

In [ ]:
d = {'Red': 1, 'Green': 3, 'White': 5, 'Black': 2, 'Pink': 4}

l = [(i,j) for i,j in d.items()]
print(l)

[('Red', 1), ('Green', 3), ('White', 5), ('Black', 2), ('Pink', 4)]

17.Write a Python program to invert a dictionary with unique hashable values.|s = {'Theodore': 10,'Mathew': 11,'Roxanne': 9}  
	expected o/p: {10: 'Theodore', 11: 'Mathew', 9: 'Roxanne'}

In [ ]:
s = {'Theodore': 10,'Mathew': 11,'Roxanne': 9}
temp = {v:k for k,v in s.items()}

print(temp)

{10: 'Theodore', 11: 'Mathew', 9: 'Roxanne'}

18.Write a Python program to access dictionary key's element by index.| num = {'physics': 80, 'math': 90, 'chemistry': 86}
	expected o/p: physics  math  chemistry

In [ ]:
num = {'physics': 80, 'math': 90, 'chemistry': 86}

for i in num:
  print(i)

physics
math
chemistry

19.A Python Dictionary contains List as value. Write a Python program to clear the list values in the said dictionary.
	expected o/p: {'C1': [], 'C2': [], 'C3': []}

In [ ]:
dict1 = {"C1":[2,3,4],"C2":[6,7,8],'C3':[8,45,33]}

for k,v in dict1.items():
  v.clear()
print(dict1)

{'C1': [], 'C2': [], 'C3': []}

20.Write a Python program to drop empty Items from a given Dictionary.|dict1 = {'c1': 'Red', 'c2': 'Green', 'c3':None}  expected o/p: {'c1': 'Red', 'c2': 'Green'}

In [ ]:
dict1 = {'c1': 'Red', 'c3':None,'c2': 'Green', 'c4':[]}
empty = [None,(),[],""]

for k,v in list(dict1.items()):
  if v in empty:
    dict1.pop(k)
print(dict1)

{'c1': 'Red', 'c2': 'Green'}

1.Python | Sort Python Dictionaries by Key or Value

In [ ]:
num = {'physics': 80, 'math': 90, 'chemistry': 86}

l = [(k,v) for k,v in num.items()]
l.sort()
print(dict(l))

{'chemistry': 86, 'math': 90, 'physics': 80}

2.Handling missing keys in Python dictionaries

In [ ]:
num = {"": 80, 'math': 90, None: 86}
empty = [None,(),[],""]

while k in empty:
  for i in num.items():
    if i[0] in empty:
      del num[i[0]]
      break
print(num)

3.Python dictionary with keys having multiple inputs

In [ ]:
dict1 = {"Simeen":[1,2,3]}
dict1["xyz"] = ["abc","pqr"]

dict1

{'Simeen': [1, 2, 3], 'xyz': ['abc', 'pqr']}

4.Python program to find the sum of all items in a dictionary

In [ ]:
dict1 = {1:39, 2:8493, 3:89, 4:784}
sum = 0

for i in dict1.values():
  sum = sum + i

print(sum)

9405

5.Python program to find the size of a Dictionary

In [ ]:
dict1 = {1:39, 2:8493, 3:89, 4:784}
len(dict1)

4

6.Ways to sort list of dictionaries by values in Python – Using itemgetter

In [ ]:
#sort by key
num = {'physics': 80, 'math': 90, 'chemistry': 86}

l = [(k,v) for k,v in num.items()]
l.sort()
print(dict(l))

{'chemistry': 86, 'math': 90, 'physics': 80}

In [ ]:
lis = [{ "name" : "Nandini", "age" : 20}, 
{ "name" : "Manjeet", "age" : 20 },
{ "name" : "Nikhil" , "age" : 19 }]
  
print sorted(lis, key=itemgetter('age'))

SyntaxError: ignored

7.Ways to sort list of dictionaries by values in Python – Using lambda function

8.Python | Merging two Dictionaries

In [ ]:
d1 = { "name" : "Manjeet", "age" : 20 }
d2 = { 'physics': 80, 'math': 90, 'chemistry': 86 }

d = d1.copy()
d.update(d2)
d

{'age': 20, 'chemistry': 86, 'math': 90, 'name': 'Manjeet', 'physics': 80}

9.Program to create grade calculator in Python

In [ ]:
grade = {'A' : [i for i in range(90,101)], 'B' : [i for i in range(80,90)] , 'C' : [i for i in range(70,80)], 'D' : [i for i in range(60,70)], 'E' : [i for i in range(30,60)], 'F' : [i for i in range(0,30)]}

marks = int(input("Enter your marks: "))
if marks in grade.values():
  print(grade.keys())

Enter your marks: 43

10.Python – Insertion at the beginning in OrderedDict

11.Python – Dictionary Values Mean

12.Python counter and dictionary intersection example (Make a string using deletion and rearrangement)

13.Python dictionary, set and counter to check if frequencies can become same

14.Scraping And Finding Ordered Words In A Dictionary using Python

15.Possible Words using given characters in Python

16.Python – Maximum record value key in dictionary

17.Python – Extract values of Particular Key in Nested Values

1.Python | Check order of character in string using OrderedDict( )

2.Python | Find common elements in three sorted arrays by dictionary intersection

3.Dictionary and counter in Python to find winner of election

4.Python – Key with maximum unique values

5.Find all duplicate characters in string

6.Python – Group Similar items to Dictionary Values List

7.K’th Non-repeating Character in Python using List Comprehension and OrderedDict

8.Python – Replace String by Kth Dictionary value

9.Python | Ways to remove a key from dictionary

10.Python – Replace words from Dictionary

11.Python – Remove Dictionary Key Words

12.Python | Remove all duplicates words from a given sentence

13.Python – Remove duplicate values across Dictionary Values

14.Python Dictionary to find mirror characters in a string

15.Counting the frequencies in a list using dictionary in Python