<a href="https://colab.research.google.com/github/Simeen01/Python-Solutions/blob/main/Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [ ]:
for i in range(1,3):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3

In [ ]:
for i in range(1,8):
    for j in range(1,8):
        print(i)

1
1
1
1
1
1
1
2
2
2
2
2
2
2
3
3
3
3
3
3
3
4
4
4
4
4
4
4
5
5
5
5
5
5
5
6
6
6
6
6
6
6
7
7
7
7
7
7
7

In [ ]:
for i in range(1,8):
    for j in range(1,8):
        print(i,end=' ')

1 1 1 1 1 1 1 2 2 2 2 2 2 2 3 3 3 3 3 3 3 4 4 4 4 4 4 4 5 5 5 5 5 5 5 6 6 6 6 6 6 6 7 7 7 7 7 7 7

In [ ]:
for i in range(1,8):
    for j in range(1,8):
        print(i,end=' ')
    print()

1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5 5
6 6 6 6 6 6 6
7 7 7 7 7 7 7

In [ ]:
# basic structure for letters
for r in range(1,8):
    for c in range(1,8):
        print('*',end=' ')
    print()

* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

In [ ]:
for r in range(1,8):
  for c in range(1,r+1):
      print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
for r in range(5,0,-1):
  for c in range(1,r+1):
      print(r,end=" ")
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

**Question:**

```
1  
2 2  
3 3 3  
4 4 4 4  
5 5 5 5 5
```

In [ ]:
for r in range(1,6):
  for c in range(r):  #other option: for c in range(1,r+1):
    print(r,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for r in range(1,6):
  for c in range(6-r,6):
    print(r,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

**Question:**

```
1 1 1 1 1 
2 2 2 2 
3 3 3 
4 4 
5
```

In [ ]:
for r in range(1,6):
  for c in range(6-r):
    print(r,end=" ")
  print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
for r in range(1,6):
  for c in range(1,6):
    print(c,end=" ")
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

**Question:**

```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

In [ ]:
for r in range(1,7):
  for c in range(1,r):
    print(c,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**Question:**

```
5 5 5 5 5 
5 5 5 5 
5 5 5 
5 5 
5
```

In [ ]:
for r in range(5,0,-1):
  for c in range(1,r+1):
    print("5",end=" ")
  print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

***Question:***

```
1 
2 1 
3 2 1 
4 3 2 1 
5 4 3 2 1
```

In [ ]:
for r in range(1,6):
  for c in range(r,0,-1):
      print(c,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

**Question:**

```
0 1 2 3 4 5 
0 1 2 3 4 
0 1 2 3 
0 1 2 
0 1
```

In [ ]:
for r in range(6,0,-1):
  for c in range(r+1):
    print(c,end=" ")
  print()

0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
for r in range(6):
  for c in range(6-r):
    print(c,end=" ")
  print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [ ]:
for r in range(6):
  for c in range(r+1):
    print(c,end=" ")
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [ ]:
for r in range(6):
  for c in range(r+1):
    print("*",end=" ")
  print()

for r in range(1,6):
  for c in range(6-r):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

**Capital Letters from A - Z**

In [ ]:
#Letter A
for r in range(1,8):
    for c in range(1,8):
        if c == 1 or c== 7:
            print('*',end=' ')
        elif r == 1 or r == 4:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * * * *
*           *
*           *
* * * * * * *
*           *
*           *
*           *

In [ ]:
#Letter B
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or c == 7 and 1<r<7 and r!=4:
      print("*",end=" ")
    elif (r == 1 or r == 4 or r == 7) and c<7:
      print("*",end=" ")
    else:
      print(' ',end=' ')
  print()

* * * * * *
*           *
*           *
* * * * * *
*           *
*           *
* * * * * *

In [ ]:
#Letter C
for r in range(1,8):
    for c in range(1,8):
        if c == 1 and 1<r<7:
            print('*',end=' ')
        elif (r == 1 or r == 7) and c>1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

  * * * * * *
*
*
*
*
*
  * * * * * *

In [ ]:
# Letter D
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or c == 7 and 1<r<7:
      print("*",end=" ")
    elif (r == 1 or r == 7) and c<7:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * *
*           *
*           *
*           *
*           *
*           *
* * * * * *

In [ ]:
#Letter E
for r in range(1,8):
  for c in range(1,8):
    if c == 1:
      print("*",end=" ")
    elif r == 1 or r == 4 and c<7 or r == 7:
      print("*",end=" ")
    else:
      print(' ',end=' ')
  print()

* * * * * * *
*
*
* * * * * *
*
*
* * * * * * *

In [ ]:
#Letter F
for r in range(1,8):
  for c in range(1,8):
    if c == 1:
      print("*",end=" ")
    elif r == 1 or (r == 4 and c<6):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * *
*
*
* * * * *
*
*
*

In [ ]:
#Letter G
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or (c == 7 and r>4):
      print("*",end=" ")
    elif r == 1 or r == 7 or (r == 4 and c>3):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * *
*
*
*     * * * *
*           *
*           *
* * * * * * *

In [ ]:
#Letter H
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or c == 7:
      print("*",end=" ")
    elif r == 4:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*           *
*           *
*           *
* * * * * * *
*           *
*           *
*           *

In [ ]:
#Letter I
for r in range(1,8):
    for c in range(1,8):
        if c == 4:
            print('*',end=' ')
        elif r == 1 or r == 7:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * * * *
      *
      *
      *
      *
      *
* * * * * * *

In [ ]:
#Letter J
for r in range(1,8):
    for c in range(1,8):
        if c == 4 and r<7:
            print('*',end=' ')
        elif r == 1 or (r == 7 and c<4):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * * * *
      *
      *
      *
      *
      *
* * *

In [ ]:
#Letter K
for r in range(1,8):
  for c in range(1,8):
    if c == 3:
      print("*",end=" ")
    elif r+c == 8  and c>3: 
      print("*",end=" ")
    elif r == c and r>3:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

    *       *
    *     *
    *   *
    * *
    *   *
    *     *
    *       *

In [ ]:
#Letter L
for r in range(1,8):
  for c in range(1,8):
    if c == 1:
      print("*",end=" ")
    elif r == 7:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
*
*
*
*
*
* * * * * * *

In [ ]:
#Letter M
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or c ==7:
      print("*",end=" ")
    elif r == c and c<5:
      print("*",end=" ")
    elif r+c == 8 and r<5:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*           *
* *       * *
*   *   *   *
*     *     *
*           *
*           *
*           *

In [ ]:
#Letter N
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or c ==7:
      print("*",end=" ")
    elif r == c: 
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*           *
* *         *
*   *       *
*     *     *
*       *   *
*         * *
*           *

In [ ]:
#Letter O
for r in range(1,8):
  for c in range(1,8):
    if (c == 1 or c == 7) and 1<r<7:
      print("*",end=" ")
    elif (r == 1 or r == 7) and c<7 and c>1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

  * * * * *
*           *
*           *
*           *
*           *
*           *
  * * * * *

In [ ]:
#Letter P
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or c == 7 and r<5:
      print("*",end=" ")
    elif r == 1 or r == 4:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * *
*           *
*           *
* * * * * * *
*
*
*

In [ ]:
#Letter Q
for r in range(1,8):
  for c in range(1,8):
    if (c == 1 and r<6) or (c == 7 and r<6):
      print("*",end=" ")
    elif r == 1 or r == 6:
      print("*",end=" ")
    elif r == c and r>3:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * *
*           *
*           *
*     *     *
*       *   *
* * * * * * *
            *

In [ ]:
#Letter R
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or c == 7 and r<5:
      print("*",end=" ")
    elif r == 1 or r == 4:
      print("*",end=" ")
    elif: #diagonal
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

SyntaxError: ignored

In [ ]:
#Letter S
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r<5 or c == 7 and r>4:
      print("*",end=" ")
    elif r == 1 or r == 4 or r == 7:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

In [ ]:
#Letter T
for r in range(1,8):
  for c in range(1,8):
    if c == 4:
      print("*",end=" ")
    elif r == 1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

In [ ]:
#Letter U
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or c == 7:
      print("*",end=" ")
    elif r == 7:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

In [ ]:
#Letter V
for r in range(1,8):
  for c in range(1,8):
    if r == c and r<7:
      print("*",end="")
    elif r + c == 12 and r<7: 
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter V
for r in range(1,8):
  for c in range(1,8):
    if r==2*c-1:
      print("*",end=" ")
    elif r+2*c==15:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

In [ ]:
#Letter W
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or c == 7:
      print("*",end=" ")
    elif r+c == 8 and r>3: 
      print("*",end=" ")
    elif r == c and r>3: 
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

In [ ]:
#Letter X
for r in range(1,8):
  for c in range(1,8):
    if r == c:
      print("*",end=" ")
    elif r + c == 8: 
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

In [ ]:
#Letter Y
for r in range(1,8):
  for c in range(1,8):
    if c == 4 and r>3:
      print("*",end=" ")
    elif r == c and r<5: 
      print("*",end=" ")
    elif r+c == 8 and r<5: 
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

In [ ]:
#Letter Z
for r in range(1,8):
  for c in range(1,8):
    if r + c == 8: 
      print("*",end=" ")
    elif r == 1 or r == 7:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

**Small Letters from a - z**

In [ ]:
#Letter a
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r>4 or c == 6 and r<2 or c == 7 and 1<r<7:
      print("*",end="")
    elif (r == 1 or r == 4 or r == 7) and c<7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter b
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or c == 7 and r>3:
      print("*",end="")
    elif r == 4 or r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter c
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r>3:
      print("*",end="")
    elif r == 4 or r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter d
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r>3 or c == 7:
      print("*",end="")
    elif r == 4 or r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter e
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r>2 or c == 7 and r>3 and r<5:
      print("*",end="")
    elif r == 3 or r == 5 or r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter f
for r in range(1,8):
  for c in range(1,8):
    if c == 3:
      print("*",end="")
    elif r == 1 and c>2 or r == 4:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter g
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r<4 or c == 7:
      print("*",end="")
    elif r == 1 or r == 4 or r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter h
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or c == 7 and r>4:
      print("*",end="")
    elif r == 4:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter i
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r>2:
      print("*",end="")
    elif r == 1 and c<2:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter j
for r in range(1,8):
  for c in range(1,8):
    if c == 4 and r>2:
      print("*",end="")
    elif r == 7 and c<4 or r == 1 and c>3 and c<5:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter k
for r in range(1,8):
  for c in range(1,8):
    if c == 1:
      print("*",end="")
    elif r+c==6 and c<4: #down
      print("*",end="")
    elif r-2 == c: #up
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter l
for r in range(1,8):
  for c in range(1,8):
    if c == 4:
      print("*",end="")
    elif r == 1 and c>1 and c<4 or r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter m
for r in range(1,8):
  for c in range(1,8):
    if (c == 1 or c == 7) and r>3:
      print("*",end="")
    elif r == c and r<4:
      print("*",end="")
    elif r+c == 8 and r<4:
      print("*",end="")
    else:
      print(" ",end="")
  print()



# for r in range(1,8):
#   for c in range(1,8):
#     if c == 1 and r>4 or c == 4 and r>4 and r<7 or c == 7 and r>4:
#       print("*",end="")
#     elif r == 4:
#       print("*",end="")
#     else:
#       print(" ",end="")
#   print()

In [ ]:
#do m diagonals

In [ ]:
#Letter n
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r>2 or c == 7 and r>4:
      print("*",end="")
    elif r == 4:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter o
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r>4 or c == 7 and r>4:
      print("*",end="")
    elif r == 4 or r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter p
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or c == 7 and r<4:
      print("*",end="")
    elif r == 1 or r == 4:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#add diagonal
#Letter q
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r<4 or c == 7:
      print("*",end="")
    elif r == 1 or r == 4:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter r
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r>2:
      print("*",end="")
    elif r == 3 and c>3 or r == 4 and c<3:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter s
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r>3 and r<6 or c == 7 and r>4:
      print("*",end="")
    elif r == 3 or r == 5 or r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter t
for r in range(1,8):
  for c in range(1,8):
    if c == 3:
      print("*",end="")
    elif r == 3 or r == 7 and c>3:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter u
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r>3 or c == 7 and r>3:
      print("*",end="")
    elif r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter v
for r in range(1,8):
  for c in range(1,8):
    if r == c and r<5:
      print("*",end="")
    elif r+c == 8 and r<5:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter w
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r>2 or c == 7 and r>2:
      print("*",end="")
    elif r == c and r>3:
      print("*",end="")
    elif r+c == 8 and r>3:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter x
for r in range(1,8):
  for c in range(1,8):
    if r == c:
      print("*",end="")
    elif r+c == 8:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter y
for r in range(1,8):
  for c in range(1,8):
    if (c == 1 and r<4) or c == 7:
      print("*",end="")
    elif r == 4 or r == 7:
      print("*",end="") 
    else:
      print(" ",end="")
  print()

In [ ]:
#Letter z
for r in range(1,8):
  for c in range(1,8):
    if r+c == 8 and r>4:
      print("*",end="")
    elif r == 4 or r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

**Numbers from 0 - 9**

In [ ]:
#Number 0
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or c == 7:
      print("*",end="")
    elif r == 1 or r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Number 1
for r in range(1,8):
  for c in range(1,8):
    if c == 4:
      print("*",end="")
    elif r == 7:
      print("*",end="")
    elif r+c == 4 and r<4:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Number 2
for r in range(1,8):
  for c in range(1,8):
    if (c == 1 and r>3) or (c == 7 and r<4):
      print("*",end="")
    elif r == 1 or r == 4 or r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Number 2 diagonal

In [ ]:
#Number 3
for r in range(1,8):
  for c in range(1,8):
    if c == 7:
      print("*",end="")
    elif r == 1 or r == 4 or r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Number 4
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r<4 or c == 7 and r>2:
      print("*",end="")
    elif r == 4:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Number 4 diagonal

In [ ]:
#Number 5
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r<4 or c == 7 and r>3:
      print("*",end="")
    elif r == 1 or r == 4 or r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Number 6
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or (c == 7 and r>3):
      print("*",end="")
    elif r == 1 or r == 4 or r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Number 7
for r in range(1,8):
  for c in range(1,8):
    if c == 7: #need to do diagonally
      print("*",end="")
    elif r == 1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Number 8
for r in range(1,8):
  for c in range(1,8):
    if c == 1 or c == 7:
      print("*",end="")
    elif r == 1 or r == 4 or r == 7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
#Number 9
for r in range(1,8):
  for c in range(1,8):
    if c == 1 and r<4 or c == 7:
      print("*",end="")
    elif r == 1 or r == 4:
      print("*",end="")
    else:
      print(" ",end="")
  print()