<a href="https://colab.research.google.com/github/Simeen01/Python-Solutions/blob/main/Python_if_else_for_loop_while_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variable Ex.**
1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

Ans: break is a keyword, a reserved word in python. It cannot be used as a variable. Hence, it prompts an error when done so.

In [ ]:
break = 5

SyntaxError: ignored

2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [ ]:
birth_year = 2002
current_year = 2022
age = current_year - birth_year
print(age)

20

3. Store your first, middle and last name in three different variables and then print your full name using these variables

In [ ]:
first = 'Simeen'
middle = 'Khan'
last = 'Ayyub'
print(first, middle,last)

Simeen Khan Ayyub

4. Answer which of these are invalid variable names: 
   _nation 

---valid


   1record

---valid


   record1

---valid


   record_one

---valid


   record-one

---invalid


   record^one

---invalid


   continue

---invalid

**Number Ex.**
1. You have a football field that is 92 meter long and 48.8 meter wide. Find out total
area using python and print it.**bold text**

In [ ]:
import math
length = 92
wide = 48.8
area = length * wide
print(area)
print(round(area,3))
print(math.trunc(area))

4489.599999999999
4489.6
4489

2. You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar
and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

In [ ]:
totalPackets=9
onePacketCost = 1.49
amountGiven=20
totalCost = totalPackets*onePacketCost
AmountRemains = amountGiven-totalCost
print(AmountRemains)

6.59

3. You want to replace tiles in your bathroom which is exactly square and 5.5 feet
is its length. If tiles cost 500 rs per square feet, how much will be the total
cost to replace all tiles. Calculate and print the cost using python
(Hint: Use power operator ** to find area of a square)

In [ ]:
length=5.5
oneTileCost=500
area=length**length
print(area)
totalCost=oneTileCost*area
print(round(totalCost))

11803.064820864423
5901532

4. Print binary representation of number 17

In [ ]:
num=17
print(bin(num))

0b10001

**Exercise: String in Python**

1. Create 3 variables to store street, city and country, now create address variable to
store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line

In [ ]:
street='sad'
city='fdg'
country='ftgh'
address=street+" "+ city+' '+ country

print(f"{address}")

sad fdg ftgh

2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index

In [ ]:
str1 = "Earth revolves around the sun"
print(str1[5:14])
print(str1[-4:])

 revolves
 sun

In [ ]:
num = int(input("Enter a number: "))
print(num)
print(type(num))

x = float(num)
print(x)
print(type(x))

y = str(num)
print(y)
print(type(y))

Enter a number: 45
45
<class 'int'>
45.0
<class 'float'>
45
<class 'str'>

In [ ]:
num=float(input('A number'))
# y=int(num)
# print(y)
z=complex(num)

print(z)

A number2.8999
(2.8999+0j)

In [ ]:
print(type(num))

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif:
  print("a and b are equal")

SyntaxError: ignored

In [ ]:
print(10 > 9)
print(10 = 9)
print(10 < 9)

SyntaxError: ignored

In [ ]:
bool("abc")

True

In [ ]:
bool(0)

False

In [ ]:
bool([0])

True

**Exercise: Python If Condition**

1. Using following list of cities per country,
    ```
    india = ["mumbai", "banglore", "chennai", "delhi"]
    pakistan = ["lahore","karachi","islamabad"]
    bangladesh = ["dhaka", "khulna", "rangpur"]
    ```
    1. Write a program that asks user to enter a city name and it should tell which country the city belongs to

In [ ]:
India = ["mumbai", "banglore", "chennai", "delhi"]
Pakistan = ["lahore","karachi","islamabad"]
Bangladesh = ["dhaka", "khulna", "rangpur"]

city = input("Enter a city: ")

if city in India:
  print(city+" "+ "belongs in India.")
elif city in Pakistan:
  print(city+" "+ "belongs in Pakistan.")
elif city in Bangladesh:
  print(city+" "+ "belongs in Bangladesh.")
else:
  print("The city does not belong in India, Pakistan or Bangladesh")

Enter a city: borli
The city does not belong in India, Pakistan or Bangladesh

2. Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"

In [ ]:
India = ["mumbai", "banglore", "chennai", "delhi"]
Pakistan = ["lahore","karachi","islamabad"]
Bangladesh = ["dhaka", "khulna", "rangpur"]

city = input("Enter a city: ")
city1 = city.lower()
anotherCity = input("Please enter another city: ")
city2 = anotherCity.lower()

if (city1 and city2) in India:
  print(city1+" and "+city2+" are in India.")
elif (city1 and city2) in Pakistan:
  print(city1+" and "+city2+" are in Pakistan.")
elif (city1 and city2) in Bangladesh:
  print(city1+" and "+city2+" are in Bangladesh.")
elif (city1 or city2) not in India or Pakistan or Bangladesh:
  print("Both the cities do not belong in India, Pakistan or Bangladesh")

Enter a city: lahore
Please enter another city: delhi
lahore and delhi are in India.

2. Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
    1. Ask user to enter his fasting sugar level
    2. If it is below 80 to 100 range then print that sugar is low
    3. If it is above 100 then print that it is high otherwise print that it is normal

In [ ]:
sugar_level = int(input("Enter your sugar level: "))
if sugar_level < 80:
  print("Sugar is low.")
elif sugar_level > 100:
  print("Sugar is high.")
else:
  print("Sugar is normal.")

Enter your sugar level: 111
Sugar is high.

***Exercise: Python User Input***

1. Write a program that can find area of a triangle. It should take base and height as an input from user and using that it should print an area of a triangle

In [ ]:
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

area_of_triangle = 0.5*base*height

print("Area of triangle = ",area_of_triangle,"square units")

Enter the base of the triangle: 98
Enter the height of the triangle: 7
Area of triangle =  343.0 square units

2. Write a program that takes file name with extension as an input and
prints just the file name without extension (you can assume that file extensions are always 3 character long)

In [ ]:
filename_with_extension = input("Enter a filename with extension: ")
filename = filename_with_extension[:-4]
print(filename)

Enter a filename with extension: text.txt
text

***if-else***

Q1. Name the keyword which helps in writing code involves condition.

---
if-else

Q2. Write the syntax of simple if statement.

---

if (condition):
  print(statement)
elif(condition):
  print(statement)
else:
  print(statement)


Q3. Is there any limit of statement that can appear under an if block.


---
No limit

Q4. Write a program to check whether a person is eligible for voting or not. (accept age from user)

In [ ]:
age = int(input("Enter age: "))
if age >= 18:
  print("Eligible")
else:
  print("Not Eligible")

Enter age: 18
Eligible

Q5. Write a program to check whether a number entered by user is even or odd.

In [ ]:
num = int(input("Enter a number: "))
if num%2==0:
  print("Number is even.")
else:
  print("Number is odd.")

Enter a number: 22
Number is even.

Q6. Write a program to check whether a number is divisible by 7 or not.
eg: 483: 48 − (3 × 2) = 42 = 7 × 6.

In [ ]:
num = int(input("Enter a number: "))
last_digit = num%10
remaining_digits = num//10  #dividing the number by 10, Float div - last digit will not come.eg:483/10=48.3 so,48.
divisible = remaining_digits - (last_digit*2) #divisibility rule of 7
if divisible%7==0:
  print(num,"is divisible by 7.")
else:
  print(num,"is not divisible by 7.")

Enter a number: 9
9 is not divisible by 7.

Q7. Write a program to display "Hello" if a number entered by user is a multiple of five,otherwise print "Bye".

In [ ]:
num = int(input("Enter a number: "))
last_digit = num%10

if last_digit == 5 or last_digit == 0:
  print("Hello")
else:
  print("Bye")

Enter a number: 99
Bye

Q8. Write a program to display the last digit of a number.
   (hint : any number % 10 will return the last digit)

In [ ]:
num = int(input("Enter a number: "))
last_digit = num%10
print("The last digit is",last_digit)

Enter a number: 234
The last digit is 4

Q10. Write a program to check whether the last digit of a number( entered by user ) is divisible by 3 or not.

[sum of its digits is divisible by 3]

In [ ]:
num = int(input("Enter a number: "))
if num%3==0:
  print(num,"is divisible by 3.")
else:
  print(num,"is not divisible by 3.")

Enter a number: 4
4 is not divisible by 3.

Q11. Write a program to accept percentage from the user and display the grade according to the following criteria:

         Marks                                    Grade
         > 90                                       A
         > 80 and <= 90                      	      B
         >= 60 and <= 80                       	    C
         below 60                                   D

In [ ]:
percent = float(input("Enter percentage: "))

if percent > 90:
  print("Grade: A")
elif percent > 80 and percent <= 90:
  print("Grade: B")
elif percent >= 60 and percent <= 80:
  print("Grade: B")
elif percent < 60:
  print("Grade: D")
else:
  print("Invalid input. Please try again.")

Enter percentage: 90.8
Grade: A

Q12. Write a program to check whether an years is leap year or not.

In [ ]:
leap_year = int(input("Enter year: "))
if leap_year%400==0 or leap_year%100!=0 and leap_year%4==0:
    print("It is a leap year.")
else:
  print("Not a leap year.")

Enter year: 2100
Not a leap year.

Q13. Write a program to accept a number from 1 to 7 and display the name of the day like 1 for Sunday , 2 for Monday and so on.

In [ ]:
dayNum = int(input("Enter the day number: "))

if dayNum > 7 or dayNum < 1:
  print("Please enter a number between 1 and 7.")

if dayNum == 1:
  print("Sunday")
elif dayNum == 2:
  print("Monday")
elif dayNum == 3:
  print("Tuesday")
elif dayNum == 4:
  print("Wednesday")
elif dayNum == 5:
  print("Thursday")
elif dayNum == 6:
  print("Friday")
elif dayNum == 7:
  print("Saturday")

Enter the day number: 21
Please enter a number between 1 and 7.

Q14. Write a program to accept a number from 1 to 12 and display name of the month and days in that month like 1 for January and number of days 31 and so on

In [ ]:
monthNum = int(input("Enter the day number: "))

if monthNum > 12 or monthNum < 1:
  print("Please enter a number between 1 and 12.")

if monthNum == 1:
  print("January")
elif monthNum == 2:
  print("Febuary")
elif monthNum == 3:
  print("March")
elif monthNum == 4:
  print("April")
elif monthNum == 5:
  print("May")
elif monthNum == 6:
  print("June")
elif monthNum == 7:
  print("July")
elif monthNum == 8:
  print("August")
elif monthNum == 9:
  print("September")
elif monthNum == 10:
  print("October")
elif monthNum == 11:
  print("November")
elif monthNum == 12:
  print("December")

# months with 31 days: Jan, Mar, Jul, Aug, Oct, Dec
# months with 30 days: Apr, Jun, Sept, Nov
# month with 28/29 days: Feb

if monthNum == 1 or monthNum == 3 or monthNum == 7 or monthNum == 8 or monthNum == 10 or monthNum == 12:
  print("Days: 31")
elif monthNum == 4 or monthNum == 7 or monthNum == 9 or monthNum == 11:
  print("Days: 30")
elif monthNum == 2:
  print("Days: 28/29")

Enter the day number: 9
September
Days: 30

Q15. Accept any city from the user and display monument of that city.




                  City                                 Monument
                  Delhi                               Red Fort
                  Agra                                Taj Mahal
                  Jaipur                              Jal Mahal

In [ ]:
city = ["Delhi, Agra, Jaipur"]
monument = ["Red Fort", "Taj Mahal", "Jal Mahal"]

cityInput = input("Enter a city: ")
city = cityInput.title()

if city == "Delhi":
  print("Monument: Red Fort")
elif city == "Agra":
  print("Monument: Taj Mahal")
elif city == "Jaipur":
  print("Monument: Jal Mahal")
else:
  print("Invalid input. Try again!")

Enter a city: delhi
Monument: Red Fort

Q16. Write a program to check whether a number entered is three digit number or not.

In [ ]:
num = input("Enter a number: ")
count=0

if len(num) == 3:
  print(num,"is a 3 digit number.")
#using for - count occurences of last digit
#last_digit=num%10
# if count<=3:
#   print(num,"is a 3 digit number.")

Enter a number: 232
232 is a 3 digit number.

Q17. Write a program to check whether a person is senior citizen or not.

In [ ]:
# senior citizen age = 60 or above

age = int(input("Enter age: "))
if age>=60:
  print("Senior Citizen")
else:
  print("Not a senior citizen")

Enter age: 43
Not a senior citizen

Q18.Write a program to find the lowest number and largest number out of two numbers excepted from user.

In [ ]:
num1 = int(input("Enter a number: "))
num2 = int(input("Enter another number: "))
if num1 > num2:
  print(num1,"is the largest number and",num2,"is the lowest number.")
else:
  print(num1,"is the lowest number and",num2,"is the largest number.")

Enter a number: 45
Enter another number: 939
45 is the lowest number and 939 is the largest number.

Q19. Write a program to check whether a number (accepted from user) is positive or negative.

In [ ]:
num = int(input("Enter a number: "))
if num<0:
  print(num,"is negative.")
else:
  print(num,"is positive.")

Enter a number: -342
-342 is negative.

Q21. Write a program to whether a number (accepted from user) is divisible by 2 and 3 both.

In [ ]:
num = int(input("Enter a number: "))
if num%2==0 and num%3==0:
  print(num,"is divisible by both 2 and 3.")
else:
  print(num,"is not divisible by both 2 and 3.")

Enter a number: 6
6 is divisible by both 2 and 3.

Q22. Write a program to find the largest number out of three numbers excepted from user.

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if num1 > num2 and num1 > num3:
  print(num1, "is the largest number.")
elif num2 > num1 and num2 > num3:
  print(num2, "is the largest number.")
elif num3 > num1 and num2 > num2:
  print(num3, "is the largest number.")
else:
  print("All numbers are equal.")

Enter first number: 3
Enter second number: 3
Enter third number: 3
All numbers are equal.

3Q23. Accept the following from the user and calculate the percentage of class attended:

	a.     Total number of working days

	b.     Total number of days for absent

       After calculating percentage show that, If the percentage is less than 75, than student will not be able to sit in exam.

In [ ]:
total_no_of_working_days = int(input("Enter total number of working days: "))
total_no_of_days_absent = int(input("Enter total number of days absent: "))
attended = total_no_of_working_days - total_no_of_days_absent
percent = attended/total_no_of_working_days*100
if percent<75:
  print("Student cannot attend exam.")
else:
  print("Student can attend exam.")

Enter total number of working days: 100
Enter total number of days absent: 25
Student can attend exam.

Q24. Write a program to accept two numbers and mathematical operators and perform operation accordingly.

	Like:

	Enter First Number: 7

	Enter Second Number : 9

	Enter operator : +

	Your Answer is : 16

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
operator = input("Enter a operator to perform the calculation (+,-,/,*,%): ")

if operator == '+':
  result = num1 + num2
  print("The addition of the numbers is",result)
elif operator == '-':
  result = num1 - num2
  print("The subtraction of the numbers is",result)
elif operator == '/':
  result = num1 / num2
  print("The division of the numbers is",result)
elif operator == '*':
  result = num1 * num2
  print("The multiplication of the numbers is",result)
elif operator == '%':
  result = num1 % num2
  print("The remainder of the numbers is",result)
else:
  print("Invalid input! Please Try Again.")

Enter the first number: 30
Enter the second number: 20
Enter a operator to perform the calculation (+,-,/,*,%): /
The division of the numbers is 1.5

Q. Write a program to find the largest number out of three numbers excepted from user without using and or.

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if num1>num2:
  if num1>num3:
    print(num1,"is the largest number")
  else:
    print(num3,"is the largest number")
elif num2>num1:
  if num2>num3:
    print(num2,"is the largest number")
  else:
    print(num3,"is the largest number")
else:
  print("All are equal numbers.")

Enter first number: 45
Enter second number: 3
Enter third number: 98
98 is the largest number

If program:



1)   Write a program to find greater between two numbers.

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if num1>num2:
  print(num1,"is greater than",num2)
else:
  print(num2,"is greater than",num1)

Enter first number: 3
Enter second number: 565
565 is greater than 3

2)   Write a program to check whether a given number is divisible by 5 or not.

In [ ]:
num = int(input("Enter a number: "))
if num%5==0:
  print(num,"is divisible by 5.")
else:
  print(num,"is not divisible by 5.")

Enter a number: 34
34 is not divisible by 5.

5)   Write a program to check whether a given number is positive negative or zero.

In [ ]:
num = int(input("Enter a number: "))
if num>0:
  print(num,"is positive.")
elif num==0:
  print("The number is zero.")
else:
  print(num,"is negative")

Enter a number: -768
-768 is negative

7)   Write a program to find greatest among 3 numbers (use ternary operator)

[on_true] if [expression] else [on_false]

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

largest = num1 if num1>num2 and num1>num3 else num2 if num2>num1 and num2>num3 else num3
print(largest,"is greater.")

Enter first number: 3
Enter second number: 2
Enter third number: 4
4 is greater.

8)   Write a program to check whether a given character is digit, uppercase alphabet, lower case alphabet or any other character

In [ ]:
char = input("Enter a character: ")
if char.isdigit():
  print(char,"is a digit")
elif char.islower():
  print(char,"is a lowercase alphabet.")
elif char.isupper():
  print(char,"is a uppercase alphabet.")
else:
  print(char,"is a character other than digit, uppercase or lowercase alphabet.")

Enter a character: 9
9 is a digit

9)   Write a program that takes marks of five subjects from user. Display result as PASS or FAIL. If candidate is passed then print its percentage and division.

In [ ]:
Eng_marks = int(input("Enter marks for English: "))
Math_marks = int(input("Enter marks for Math: "))
Science_marks = int(input("Enter marks for Science: "))
Computer_marks = int(input("Enter marks for Computer: "))
History_marks = int(input("Enter marks for History: "))

if Eng_marks>33 and Math_marks>33 and Science_marks>33 and Computer_marks>33 and History_marks>33:
  print("\nResult: PASS")
  total_marks = Eng_marks+Math_marks+Science_marks+Computer_marks+History_marks
  percentage = (total_marks/500)*100
  print("Percentage: ",round(percentage,2),"%")
else:
  print("\nResult: FAIL")

Enter marks for English: 90
Enter marks for Math: 78
Enter marks for Science: 98
Enter marks for Computer: 87
Enter marks for History: 98

Result: PASS
Percentage:  90.2 %

Find largest among 3 and if two numbers are equal print them both as largest.

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

# if num1 >= num2:
#   if num1 >= num3:
#     print(num1,"is largest.")
#   elif num1 == num2:
#     print("First and second are equal.")
#   elif num1 == num3:
#     print("First and third are equal.")
#   else:
#     print(num3,"is largest than first and second.")

  # if num1 == num2:
  # print("First and second are equal.")
  # if num1 == num3 != num2:
  #   print("First and third are equal.")
  #   print(num1,"is largest than second number.")
  # elif num3>num1:
  #   print(num3,"is largest among second and first number.")

# elif num2 == num3 != num1:
#   print("Second and third are equal.")
#   print(num2, "is largest than first number.")
#   if num2>num3:
#     print(num2,"is largest.")
#   else:
#     print(num3,"is largest among second and first number.")

# if num1>num2:
#   if num1==num2:
#     print("1 and 2 are equal")
#   if num1>num3:
#     print(num1,"is largest2")
#   else:
#     print(num3,"is largest1") 

if num1>=num2: 
  if num1>=num3:
    print(num1,"is largest1.")
    if num1==num2:
      print("1st and 2nd numbers are equal.")
      if num1>num3:
        print(num1,"is largest")
      else:
        print(num3,"is largest")

elif num2>=num3:
  print(num2,"is largest.")
  if num2==num3:
    print("2nd and 3rd numbers are equal.")
    if num2>num1:
      print(num2,"is largest")
    else:
      print(num1,"is largest")

elif num3>=num1:
  print(num3,"is largest3.")
  if num3==num1:
    print("1st and 3rd numbers are equal.")
    if num3>num2:
      print(num3,"is largest")
    else:
      print(num2,"is largest")
else:
  print("All are equal.")




  
# elif num1==num3:
#     print("1st and 3rd are equal.")
#   else:
#     print(num3,"is the largest number1")
# elif num2>=num1:
#   if num2>=num3:
#     print(num2,"is the largest number")
#   else:
#     print(num3,"is the largest number")


# elif num1==num2:
#   print("First and second are equal.")
#   # if num1 == num3:
#   #   print("First and third are equal.")
# elif num2==num3:
#   print("Second and third are equal.")
# elif num1==num3:
#   print("First and third are equal.")
# else:
#   print("All are equal numbers.")



# if num1>=num2:
#   print("The first and second are equal and largest numbers.")
#   print("Largest number",num1)
#   if num1>=num3:
#     print("The first and third are equal and largest numbers.")
#     print("Largest number",num1)
#   else:
#     print(num3,"is the largest number")
# elif num2>=num1:
#   print("The first and second are equal and largest numbers.")
#   print("Largest number",num2)
#   if num2>=num3:
#     print("The second and third are equal and largest numbers.")
#     print("Largest number",num2)
#   else:
#     print(num3,"is the largest number")
# else:
#   print("All are equal numbers.")

# 113   331   313
        # 123

Enter first number: 1
Enter second number: 2
Enter third number: 3
3 is largest3.

Find largest among 3 and if two numbers are equal print them both as largest.

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if num1>num2:
  if num1>num3:
    print(num1,"is largest")
  else:
    print(num3,"is largest")

elif num2>num1:
  if num2>num3:
    print(num2,"is largest")
  else:
    print(num3,"is largest")

elif num1==num2==num3:
  print("All are equal.")
  
# if num1==num3:
#   print("First and Third are equal")
# elif num1==num2:
#   print("First and Second are equal")
# elif num2==num3:
#   print("Second and Third are equal")


elif num1==num2:
  print("First and Second are equal")
  if num1>num3:
    print(num1,"is largest")
  else:
    print(num3,"is largest")
  
elif num1==num3:
  print("First and Third are equal")
  if num1>num2:
    print(num1,"is largest")
  else:
    print(num2,"is largest")

elif num2==num3:
  print("Second and Third are equal")
  if num2>num1:
    print(num2,"is largest")
  else:
    print(num1,"is largest")

# else:
#   print("All are equal.")

Enter first number: 1
Enter second number: 3
Enter third number: 3
3 is largest
Second and Third are equal
3 is largest

Largest among 3 and print equal only if 2 of them are largest.

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if num1>=num2: 
  if num1>=num3:
    print(num1,"is largest.")
    if num1==num2:
      print("First and Second are largest")
    else:
      print("First and Third are largest")

elif num2>=num1:
  if num2>=num3:
    print(num2,"is largest")
    if num2==num1:
      print("Second and First are largest")
    else:
      print("Second and Third are largest")
    
elif num3>=num1:
  if num3>=num2:
    print(num3,"is largest")
    if num3==num1:
      print("Third and First are largest")
    else:
      print("Third and Second are largest")
    
else:
  print("All are equal")

Enter first number: 1
Enter second number: 3
Enter third number: 3
3 is largest
Second and Third are largest

Find largest among three, without using ==, say they are equal

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
# 2 3 1
if num1==num2==num3:
  print("All are equal")

elif num1>=num3: 
  if num1>=num2:
    print(num1,"is largest.")
    if num1<=num2:
      print("First and Second are equal.")
    elif num1<=num3:
      print("First and Third are equal.")

elif num2>=num1: 
  if num2>=num3:
    print(num2,"is largest.")
    if num2<=num1:
      print("Second and First are equal.")
    elif num2<=num3:
      print("Second and Third are equal.")

elif num3>=num1: 
  if num3>=num2:
    print(num3,"is largest.")
    if num3<=num1:
      print("Third and First are equal.")
    elif num3<=num2:
      print("Third and Second are equal.")

Enter first number: 2
Enter second number: 3
Enter third number: 1

**for loop**

In [ ]:
lis1=[21,'apple','banana','cherry','cherry']

for i in lis1:
  print(i)

21
appple
banana
cherry
cherry

output in line

In [ ]:
lis1=[21,'apple','banana','cherry','cherry']
print(*lis1)
# for line in range(len(lis1)):

# for line in lis1:
#   a = str(lis1)
#   print(a)
#   print(line[a])

21 apple banana cherry cherry

break on banana

In [ ]:
lis1=[21,'apple','banana','cherry','cherry']
for i in lis1:
  print(i)
  if i=='banana':
    break

21
apple
banana

cherry continue

In [ ]:
lis1=[21,'apple','banana','cherry','cherry']
for i in lis1:
  if i=='cherry':
    continue
  print(i)

21
apple
banana

Q1. Write a program to print first 10 natural number.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

Q2. Write a program to print first 10 even numbers.

In [ ]:
for i in range(0,11):
  if i%2==0:
    print(i)

0
2
4
6
8
10

In [ ]:
i=0
while i<=10:
  if i%2==0:
    print(i)
  i+=1

0
2
4
6
8
10

Even no.s with upper and lower. Count the iteration of for loop.

In [ ]:
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))
count=0

for i in range(lower, upper+1):
  if i%2==0:
    count +=1
    print(i)
print("\nNo. of iterations:",count)

Enter lower range: 0
Enter upper range: 11
0
2
4
6
8
10

No. of iterations: 6

In [ ]:
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))
count=0

i=lower
while i<=upper:
  if i%2==0:
    count+=1
    print(i)
  i+=1

print("\nNumber of iterations: ",count)

Enter lower range: 1
Enter upper range: 10
2
4
6
8
10

Number of iterations:  5

Q3. Write a program to print first 10 odd numbers.

In [ ]:
for i in range(0,11):
  if i%2!=0:
    print(i)

1
3
5
7
9

In [ ]:
i=0
while i<=10:
  if i%2!=0:
    print(i)
  i+=1

1
3
5
7
9

Q5. Write a program to print first 10 even numbers in reverse order.

In [ ]:
for i in range(21,1,-1):
  if i%2==0:
    i = i-2 
    print(i)

18
16
14
12
10
8
6
4
2
0

In [ ]:
i=10
while i>=0:
  if i%2==0:
    print(i)
  i-=1

10
8
6
4
2
0

Q6. Write a program to print table of a number accepted from user.

In [ ]:
num = int(input("Enter a number to produce multiplication table: "))
for i in range(0,11):
    table = num*i
    print(table)

Enter a number to produce multiplication table: 6
0
6
12
18
24
30
36
42
48
54
60

In [ ]:
num = int(input("Enter a number for producing multiplication table: "))
i=0
while i<=10:
  table = num*i
  print(table)
  i+=1

Enter a number for producing multiplication table: 2
0
2
4
6
8
10
12
14
16
18
20

Q7. Write a program to find the factorial of a number. 3! = 3x2x1

In [ ]:
num = int(input("Enter a number to produce a fatorial: "))
fact = 1
for i in range(1,num+1):
  fact = fact*i
print("Factorial of",num,":",fact)

Enter a number to produce a fatorial: 5
Factorial of 5 : 120

In [ ]:
num = int(input("Enter a number: "))
i=1
fact = 1
while i<=num:
  fact = fact*i
  i+=1
print("Factorial of",num,":",fact)

Enter a number: 4
Factorial of 4 : 24

Q8. Write a program to print prime number between 1 to 50.

In [ ]:
for num in range(1,51):
  for i in range(2, num):
    if num%i==0: #not a prime no.
      break
  else:
    print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
i=1
while i<=50:
  for a in range(2, i):
    if num%i==0: #not a prime no.
      break
  else:
    print(num)
  i+=1

In [ ]:
i=1
while i<51:
  i+=1
  num=2
  while num<i:
    if num%i==0:
      break
    num+=1
  else:
    print(num)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

Q9. Write a program to print table of a number(accepted from user) in the following format. 
	
        Like : input number is 7, so expected output  is
        7 * 1 = 7
        7 * 2 = 14 and so on

In [ ]:
num = int(input("Enter a number to produce multiplication table: "))
for i in range(0,11):
    table = num*i
    i+=1
    print(num,"*",i,"=",table)

Enter a number to produce multiplication table: 5
5 * 1 = 0
5 * 2 = 5
5 * 3 = 10
5 * 4 = 15
5 * 5 = 20
5 * 6 = 25
5 * 7 = 30
5 * 8 = 35
5 * 9 = 40
5 * 10 = 45
5 * 11 = 50

In [ ]:
num = int(input("Enter a number to produce a multiplication table:"))
i=0
while i<=10:
  table = num*i
  print(num,"*",i,"=",num*i)
  i+=1

Enter a number to produce a multiplication table:4
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Q10. Write a program to print the following pattern

	5 5 5 5 5
	4 4 4 4
	3 3 3
	2 2
	1

In [ ]:
num = int(input("Enter a number: "))
for row in range(1,6):
  for col in range(1,6):
    print(num, end='')
  print('')

Enter a number: 5
55555
55555
55555
55555
55555

11. Accept a number and check whether it is palindrome or not.

In [ ]:
num = input("Enter a number: ")
reverse=''
for x in range(len(num)-1,-1,-1):
  # print(num[x], end="")
  reverse= reverse+num[x]
# print(reverse)

if num==reverse:
  print(num,"is a palindrome")
else:
  print(num,"is not a palindrome")

Enter a number: 121
121 is a palindrome

In [ ]:
num = input("Enter a number: ")
reverse=""
i=0
n = len(num)
while n>i:
  reverse = reverse+num[n-1]
  # print(reverse,end="")
  # print(num[n-1],end="")
  n-=1

if num==reverse:
  print(num,"is a palindrome")
else:
  print(num,"is not a palindrome")

Enter a number: 123
123 is not a palindrome

Q12. Print the following pattern:




	*
	**
	***
	****

In [ ]:
for row in range(4):
  for col in range(4):
    print("*", end="")
  print("")

****
****
****
****

Q13. Accept number from user and calculate the sum of all number from 1 to a given number

In [ ]:
num = int(input("Enter a number: "))
sum=0
for i in range(1,num+1):
  sum = i+sum 
print("Sum from 1 to",num,"=",sum)

Enter a number: 5
Sum from 1 to 5 = 15

In [ ]:
num = int(input("Enter a number: "))
sum = 0
i = 0
while i<=num:
  sum = i+sum
  i+=1
print("Sum from 1 to",num,"=",sum)

Enter a number: 5
Sum from 1 to 5 = 15

Q15.Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.


    list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [ ]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
  if i%5==0:
    if i==150:
      break
    print(i)

15
55
75

In [ ]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
i=0
while i in list1:
  if i%5==0:
    if i>150:
      break
    print(i)
  i+=1

Q18. Display Fibonacci series up to 10 terms

In [ ]:
first_term = 0
second_term = 1
temp = 0 #for adding and recurring values

print(first_term)
print(second_term)
for i in range(10):
  temp = first_term + second_term
  first_term = second_term
  second_term = temp
  print(temp)

0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
first_term = 0
second_term = 1
temp = 0 #for adding and recurring values

print(first_term)
print(second_term)

i=0
while i<8:
  temp = first_term + second_term
  first_term = second_term
  second_term = temp
  print(temp)
  i+=1

0
1
1
2
3
5
8
13
21
34

Q19. Reverse a given integer number,  Given:76542

In [ ]:
num='76542'
# num = input("Enter a number: ")
for i in range(len(num)-1,-1,-1):
  print(num[i], end="")

24567

In [ ]:
num='76542'
i=0
n = len(num)
while n>i:
  print(num[n-1],end="")
  n-=1

24567

Q20. Display the cube of the number up to a given integer

In [ ]:
num = int(input("Enter a number: "))
for i in range(0,num+1):
  cube = i**3
  print(cube)

Enter a number: 3
0
1
8
27

In [ ]:
num = int(input("Enter a number: "))
i=0
while i<=num:
  cube=i**3
  print(cube)
  i+=1

Enter a number: 3
0
1
8
27

Addition of 2 nos., if int values print type int. Float for whole no.s not allowed

In [ ]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")


# if '.' not in num1:
#   if '.' not in num2:
#     print(int(num1)+int(num2))
# else:
#   print(float(num1)+float(num2))

# if num1.endswith('.0') and num2.endswith('.0'):
#   num1 = num1.removesuffix('.0')
#   num2 = num2.removesuffix('.0')
#   int_num1 = int(num1)
#   int_num2 = int(num2)
#   print(int_num1+int_num2)

Enter first number: 3.2
Enter second number: 3
6.2

In [ ]:
# n = int(input("Enter a number: "))
n = 24
if n%2!=0:
    print("Weird")

elif n%2==0:
    if n in range(2,6):
        print("Not Weird")
    elif n in range(6,21):
        print("Weird")
    elif n>20:
        print("Not Weird")

Not Weird

In [ ]:
n = int(input())
for i in range(99999):
  if i<n:
    print(i**2)

3
0
1
4

In [ ]:
def is_leap(year):
  leap = False
  if year%400==0 or year%100==100 and year%4==0:
    leap = True   
    return leap
    
year = int(input())
print(is_leap(year))

2012
None

Using for loop,

2      1
4      3
6      5
8      7
10     9
---



30     25 (sum of even, sum of odd)

In [ ]:
sum_even = 0 
sum_odd = 0
for i in range(1,11):
  if i%2==0:
    print(i)
    sum_even = i+sum_even
print('--------------')
print(sum_even)
print()

for i in range(1,11):
  if i%2!=0:
    print(i)
    sum_odd = i+sum_odd
print('--------------')
print(sum_odd)

2
4
6
8
10
--------------
30

1
3
5
7
9
--------------
25

In [ ]:
sum_even = 0 
sum_odd = 0
for i in range(1,11):
  if i%2==0:
    print(i)
    sum_even = i+sum_even
  if i%2!=0:
    print(i,end ='\t')
    sum_odd = i+sum_odd
print('--------------')
print(sum_odd,"\t",sum_even)

1	2
3	4
5	6
7	8
9	10
--------------
25 	 30

In [ ]:
sum_even = 0 
sum_odd = 0
list1 = [x for x in range(1,11)]
# list1 = [1,2,3,4,5,6,7,8,9,10]
for even,odd in zip(list1,list1):
  if even%2==0:
    sum_even = even+sum_even
    print(even)
  elif odd%2!=0:
    sum_odd = odd+sum_odd
    print(odd,end='         ')
print('--------------')
print(sum_odd,"\t",sum_even)

1         2
3         4
5         6
7         8
9         10
--------------
25 	 30

In [ ]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]
 
# using zip() to map values
mapped = zip(name, roll_no)
 
print(list(mapped))

[('Manjeet', 4), ('Nikhil', 1), ('Shambhavi', 3), ('Astha', 2)]

In [ ]:
odd =0
even =0
for i in range(1,11,2):
  odd = odd + i
  even = even + (i+1)
  print(f"{i}       {i+1}")
print("===========")
print(f"{odd}      {even}")

1       2
3       4
5       6
7       8
9       10
===========
25      30

**While Loop**

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=0
while i<=10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
i=10
while i>0:
  print(i)
  i-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
i=11
while i:
  i-=1
  if i==4:
    continue
  print(i)
  # i-=1 '''stuck at i=4,at continue statement since value is not decrementing i and is on 4'''

10
9
8
7
6
5
3
2
1
0

In [ ]:
str_num = "six"
for i in range(1,14):
  print(i,"times",str_num,"equals",i*str_num)

1 times six equals six
2 times six equals sixsix
3 times six equals sixsixsix
4 times six equals sixsixsixsix
5 times six equals sixsixsixsixsix
6 times six equals sixsixsixsixsixsix
7 times six equals sixsixsixsixsixsixsix
8 times six equals sixsixsixsixsixsixsixsix
9 times six equals sixsixsixsixsixsixsixsixsix
10 times six equals sixsixsixsixsixsixsixsixsixsix
11 times six equals sixsixsixsixsixsixsixsixsixsixsix
12 times six equals sixsixsixsixsixsixsixsixsixsixsixsix
13 times six equals sixsixsixsixsixsixsixsixsixsixsixsixsix

In [ ]:
i=11
while i>1:
  i-=1
  if i==5:   
    continue
  print(i)

10
9
8
7
6
4
3
2
1

In [ ]:
a=["apple","orange","cherry","kiwi","grapes","orange","mango"]
n=len(a)-1
while n>=0:
  print(a[n])
  n-=1

mango
orange
grapes
kiwi
cherry
orange
apple