<a href="https://colab.research.google.com/github/Simeen01/Python-Solutions/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Add a list of elements to a set 


```
s1= {"Yellow", "Orange", "Black"}
l1= ["Blue", "Green", "Red"] 
```

EXPECTED O/P: {'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}

In [ ]:
s1= {"Yellow", "Orange", "Black"}
l1= ["Blue", "Green", "Red"] 

for i in range(len(l1)):
  s1.add(l1[i])
print(s1)

{'Yellow', 'Red', 'Green', 'Black', 'Blue', 'Orange'}

2.Return a new set of identical items from two sets |set1 = {10, 20, 30, 40, 50} & set2 = {30, 40, 50, 60, 70} EXPECTED O/P:{40, 50, 30}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
output = set({})

for i in set1:
  for x in set2:
    if i == x:
      output.add(i)
print(output)

{40, 50, 30}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

output = set1.intersection(set2)
print(output)

{40, 50, 30}

3.Get Only unique items from two sets | set1 = {10, 20, 30, 40, 50} & set2 = {30, 40, 50, 60, 70} EXPECTED O/P: {70, 40, 10, 50, 20, 60, 30}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

output = set1.union(set2)
output

{10, 20, 30, 40, 50, 60, 70}

4.Update the first set with items that donâ€™t exist in the second set| set1 = {10, 20, 30} & set2 = {20, 40, 50} EXPECTED O/P: set1 {10, 30}.

In [ ]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2) #difference_update : removes items that exist in both sets
print(set1)

{10, 30}

5.Remove items from the set at once | set1 = {10, 20, 30, 40, 50} EXPECTED O/P: {40, 50}

In [ ]:
set1 = {10, 20, 30, 40, 50}
r = {10,20,30}
set1.difference_update(r)
set1

{40, 50}

6.Return a set of elements present in Set A or B, but not both |set1 = {10, 20, 30, 40, 50} & set2 = {30, 40, 50, 60, 70} EXPECTED O/P:{20, 70, 10, 60}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

a = set1.symmetric_difference(set2)   #symmetric_difference : All items except the same ones in 2 sets
a

{10, 20, 60, 70}

7.Check if two sets have any elements in common. If yes, display the common elements| set1 = {10, 20, 30, 40, 50} & set2 = {60, 70, 80, 90, 10} 
	EXPECTED O/P:Two sets have items in common   {10}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10} 
print("Two sets have items in common",set1.intersection(set2))

Two sets have items in common {10}

8.Update set1 by adding items from set2, except common items |set1 = {10, 20, 30, 40, 50} & set2 = {30, 40, 50, 60, 70} EXPECTED O/P: {70, 10, 20, 60}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
set1

{10, 20, 60, 70}

9.Remove items from set1 that are not common to both set1 and set2 | set1 = {10, 20, 30, 40, 50} & set2 = {30, 40, 50, 60, 70} EXPECTED O/P:{40, 50, 30}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection(set2)

{30, 40, 50}

10.Does converting an object to a set maintain the objectâ€™s order?

No, set is unordered.

11.CHECK if a set a subset of another set | a = {4,5} b = {1,2,3,4,5}.

In [ ]:
a = {4,5}
b = {1,2,3,4,5}

a.issubset(b)

True

12.Check if a specific value exists in a set | s = {5,7,9} check 5.

In [ ]:
s = {5,7,9}

if 5 in s:
  print("present")
else:
  print("not present")

present

13. Add an element to a set | s = {'a','b','c'}

In [ ]:
s = {'a','b','c'}
s.add("g")
s

{'a', 'b', 'c', 'g'}

14.Make a copy of a set | s1 = {'a','b','c'}

In [ ]:
s1 = {'a','b','c'}
s2 = s1.copy()
s2

{'a', 'b', 'c'}

15.Check if a set is a superset of another set |  a = {10,20,30} b = {10,20}

In [ ]:
a = {10,20,30}
b = {10,20}
a.issuperset(b)

True

16.Convert a set to a list | a = {4,2,3}

In [ ]:
a = {4,2,3}
l = list(a)
l

[2, 3, 4]

17.How can you iterate on values in a set? | s = {'a','b','c','d','e'}

In [ ]:
#using for loop
s = {'a','b','c','d','e'}

for i in s:
  print(i)

b
d
c
e
a

18.Return the length of a set | s = {'a','b','c','d','e'}

In [ ]:
s = {'a','b','c','d','e'}
len(s)

5

19.Find the union of 2 sets. | s1 = {1,2,3,4,5} s2 = {4,5,6,7,8}   | EXPECTED O/P: {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

20. Find the elements in s1 that are not in s2 | s1 = {1,2,3,4,5} s2 = {4,5,6,7,8}

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

{1, 2, 3}

21.Remove an element from a set | s = {'x','y','z'}  REMOVE Z

In [ ]:
s = {'x','y','z'}
s.discard("Z")
s

{'x', 'y', 'z'}

22.Remove and return an unspecified element from a set | s = {'z','y','x'}.

In [ ]:
s = {'z','y','x'}
a = s.pop()
print("Removed element:",a)
print("Set after removing:",s)

Removed element: z
Set after removing: {'x', 'y'}

23.Add all elements from another set to an existing set | a = {1,2,3} b = {3,4,5}    | EXPECTED O/P:{1, 2, 3, 4, 5}

In [ ]:
a = {1,2,3}
b = {3,4,5}
a.update(b)
a

{1, 2, 3, 4, 5}

24.Remove all elements from a set | a = {1,2,3}

In [ ]:
a = {1,2,3}
a.clear()
a

set()

25.Remove an element from a set if it exists. |  a = {1,2,3}

In [ ]:
a = {1,2,3}
a.remove(1)
a

{2, 3}

26. Can a set be accessed by index? |  (its Theory questions)



```
Ans: No
```

27.What is the difference between a set and a tuple?  | (its Theory questions)


```
 Set                             Tuple
1. {}                            1. ()
2. More methods than tuple       2. Only count and index method
3. Unindexed                     3. Indexed
4. Unordered                     4. Unordered
```

28.What is the difference between a set and a frozenset? | (its Theory questions)


```
frozenset -  elements cannot be added or removed once created
set - elements can be added or removed
```

29.Python program to find the missing of s1 in s2 | s1= {1, 2, 3, 4, 5, 6}, s2={4, 5, 6, 7, 8} | expected o/p : {1,2,3}

In [ ]:
s1= {1, 2, 3, 4, 5, 6}
s2={4, 5, 6, 7, 8}

s1.difference(s2)

{1, 2, 3}

30.remove last item from a given set | s1={'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}

In [ ]:
s1={'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}
a = s1.pop()
print("Removed item:",a)
print("Final set:",s1)

Removed item: Red
Final set: {'Black', 'Blue', 'Yellow', 'Orange', 'Green'}

1.Python program to convert Set into Tuple and Tuple into Set

In [ ]:
s1= {1, 2, 3, 4, 5, 6}
t = tuple(s1)
t

(1, 2, 3, 4, 5, 6)

2.Python program to convert set into a list

In [ ]:
s1= {1, 2, 3, 4, 5, 6}
t = list(s1)
t

[1, 2, 3, 4, 5, 6]

3.Python program to convert Set to String

In [ ]:
s1= {1, 2, 3, 4, 5, 6}
t = str(s1)
t

'{1, 2, 3, 4, 5, 6}'

In [ ]:
s1= {"hello","there"}
t = ' '.join(s1)
t

'there hello'

4.Python program to convert String to Set

In [ ]:
string = "Hello"
t = set(string)
t

{'H', 'e', 'l', 'o'}

5.Python â€“ Convert a set into dictionary

In [ ]:
s1= {1, 2, 3, 4, 5, 6}
t = dict.fromkeys(s1,0)
print(t)
print(type(t))

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0}
<class 'dict'>

1.Find the size of a Set in Python

In [ ]:
s1= {1, 2, 3, 4, 5, 6}
len(s1)

6

2.Iterate over a set in Python

In [ ]:
s1= {1, 2, 3, 4, 5, 6}
for i in s1:
  print(i)

1
2
3
4
5
6

3.Python â€“ Maximum and Minimum in a Set

In [ ]:
s1= {1, 2, 3, 4, 5, 6}
print("Min:",min(s1))
print("Max:",max(s1))

Min: 1
Max: 6

4.Python â€“ Remove items from Set

In [ ]:
s1= {1, 2, 3, 4, 5, 6}
s1.remove(4)
s1

{1, 2, 3, 5, 6}

5.Python â€“ Check if two lists have at-least one element common

In [ ]:
s1= {1, 2, 3, 4, 5, 6}
s2={4, 7, 8}

s1.intersection(s2)

{4}

6.Python program to find common elements in three lists using sets

In [ ]:
l1 = [1,3,1,5,7]
l2 = [6,1,7,100]
l3 = [1,4,15,20,1]

s1 = set(l1)
s2 = set(l2)
s3 = set(l3)

#common elements in s1 and s2
common = s1.intersection(s2) 

#common elements in s1 and s3
common = s1.intersection(s3)

print(list(common))

[1]

7.Python â€“ Find missing and additional values in two lists

```
Input : list1 = [1, 2, 3, 4, 5, 6] 
        list2 = [4, 5, 6, 7, 8] 
Output : Missing values in list1 = [8, 7] 
         Additional values in list1 = [1, 2, 3] 
         Missing values in list2 = [1, 2, 3] 
         Additional values in list2 = [7, 8] 
```

In [ ]:
list1 = [1, 2, 3, 4, 5, 6] 
list2 = [4, 5, 6, 7, 8] 

s1 = set(list1)
s2 = set(list2)

#list1 | s1
miss1 = s2.difference(s1)
print("Missing values in list1 =",list(miss1))

add1 = s1.difference(s2)
print("Additional values in list1 =",list(add1))


#list2 | s2
miss2 = s1.difference(s2)
print("Missing values in list2 =",list(miss2))

add2 = s2.difference(s1)
print("Additional values in list1 =",list(add2))

Missing values in list1 = [8, 7]
Additional values in list1 = [1, 2, 3]
Missing values in list2 = [1, 2, 3]
Additional values in list1 = [8, 7]

8.Python program to find the difference between two lists

In [ ]:
list1 = [1, 2, 3, 4, 5, 6] 
list2 = [4, 5, 6, 7, 8] 

set(list1).difference(set(list2))

{1, 2, 3}

9.Python Set difference to find lost element from a duplicated array

In [ ]:
A = [1, 4, 5, 7, 9]
B = [4, 5, 7, 9]

if len(A)>len(B):
  print(list(set(A).difference(set(B))))
elif len(B)>len(A):
  print(list(set(B).difference(set(A))))
else:
  print("No lost element")

[1]

10.Python program to count number of vowels using sets in given string

In [ ]:
str1 = "hello"

vowels = {"a",'e','i','o','u'}
l = list(vowels)

count = 0

for i in l:
  if i in str1:
    count += 1
    print(i)
print("Count:",count)

o
e
Count: 2

11.Concatenated string with uncommon characters in Python


```
Input : S1 = "aacdb"
        S2 = "gafd"
Output : "cbgf"
```

In [ ]:
str1 = "aacdb"
s1 = set(str1)

str2 = "gafd"
s2 = set(str2)

#removing common characters
c1 = s1.difference(s2)
c2 = s2.difference(s1)

c1.update(c2)

result = ''.join(c1)
print(result)

cbfg

12.Python â€“ Program to accept the strings which contains all vowels

In [ ]:
word = input("Enter string to check if it contains all vowels: ")   #eutopia
word = word.lower()
word = set(word)
vowel = {'a','e','i','o','u'}
check = ""

for i in word:
  if i in vowel:
    check = check + i
print(check)
if len(check) == len(vowel):
  print("All vowels present in the string.")

Enter string to check if it contains all vowels: Eutopia
oeaui
All vowels present in the string.

13.Python â€“ Check if a given string is binary string or not

In [ ]:
str1 = "01010101010"
s1 = set(str1)
s = {'0', '1'}
if s == s1 or s1 == {'0'} or s1 == {'1'}:
  print("Binary")
else:
  print("Non-Binary")

Binary

14.Python set to check if string is pangram

In [ ]:
import string
alphabet=string.ascii_lowercase
alphabet = set(alphabet)

sentence = "The quick brown fox jumps over the lazy dog"
sentence = set(sentence.lower())    #also contains space

if alphabet <= sentence:
  print("It is a pangram")
else:
  print("Not a pangram")

It is a pangram

15.Python Set â€“ Pairs of complete strings in two sets


```
Input : set1[] = {"abcdefgh", "geeksforgeeks",
                 "lmnopqrst", "abc"}
        set2[] = {"ijklmnopqrstuvwxyz", 
                 "abcdefghijklmnopqrstuvwxyz", 
                 "defghijklmnopqrstuvwxyz"} 
Output : 7
The total complete pairs that are forming are:
"abcdefghijklmnopqrstuvwxyz"
"abcdefghabcdefghijklmnopqrstuvwxyz"
"abcdefghdefghijklmnopqrstuvwxyz"
"geeksforgeeksabcdefghijklmnopqrstuvwxyz"
"lmnopqrstabcdefghijklmnopqrstuvwxyz"
"abcabcdefghijklmnopqrstuvwxyz"
"abcdefghijklmnopqrstuvwxyz"
```

In [ ]:
set1 = {"abcdefgh", "geeksforgeeks","lmnopqrst", "abc"}
set2 = {"ijklmnopqrstuvwxyz", "abcdefghijklmnopqrstuvwxyz", "defghijklmnopqrstuvwxyz"} 

count = 0

for i in set1:
  for x in set2:
    result = i + x

    l = set([r for r in result if (ord(r) >= ord("a") and ord(r) <= ord("z"))])
    # pair = ''.join(l)
    # print(pair)
    if len(l) == 26:
      count += 1

print(count)

7

16.Python program to check whether a given string is Heterogram or not

In [ ]:
string = "ostrich" #"apple is healthy"
a = []
for i in string:
  if ord(i) >= ord('a') and ord(i) <= ord("z"):
    a.append(i)
  
if len(set(a)) == len(a):
  print("It is Heterogram")
else:
  print("It is not heterogram")

It is Heterogram